/* footer.css */

/* 页脚模块，单位为rem */

#footer {
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    color: #c2c2c2;
    background: #2e2e2e;
}

#footerlinks {
    /* 解决inline导致的幽灵空白节点 */
    font-size: 0;
}

.footerlink {
    margin: 0 1rem;
    display: inline;
    color: inherit;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

#footerpb, #footerlogos {
    margin: 0.75rem 0;
    font-size: 1rem;
}

.footerlogo {
    display: inline-block;
}

#suitlogo {
    padding-right: 0.75rem;
    border-right: 2px white solid;
    height: 3rem;
}

#passlogo {
    margin-bottom: 0.25rem;
    padding-left: 0.75rem;
    /* 极光工作室的logo相对信息部logo大，所以要缩小 */
    height: 2.5rem;
}

.footertext {
    margin: 0.25rem 0;
    display: block;
    font-size: 1rem;
}