/* texture.css */

/* 定义材质 */

/* 材质文件夹/history/src/img/texture/ */

/* 使用材质时文字应直接书写，不用任何标签包裹，以兼容Safari */

.texture {
    /* 让文字透明，以透出背景图片 */
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    background-origin: border-box;
    /* 两行要同时书写，让背景图片仅渲染在文字处 */
    background-clip: text;
    -webkit-background-clip: text;
}

/* 2020青春诗会 */

.texture-20200403 {
    background-image: url(/history/src/img/texture/20190403.jpg);
}

/* 2019青春诗会 */

.texture-20190403 {
    background-image: url(/history/src/img/texture/20190403.jpg);
}

/* 2019新年音乐会 */

.texture-20181228 {
    background-image: url(/history/src/img/texture/20181228.jpg);
}