.growl {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 500;
    padding: 20px;
    text-align: center;
    max-height: 150px;
    width: 150px;
    overflow: hidden;
}

.growl::after {
    background-color: rgb(179, 178, 178);
    filter: blur(4px);
    opacity: 0.85;
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: 15px;
}

.growl-img {
    display: none;
    z-index: 550;
    opacity: 1;
}

#growl-img {
    min-width: 130px;
    max-width: 150px;
    height: 100px;
    object-fit: contain;
}

.growl-text {
    overflow: hidden;
    font-size: 20px;
    max-width: 145px;
    text-align: center;
    white-space: nowrap;
}