/* programlist.css */

/* 引用方正清刻本悦宋简体字体 */
@font-face{
    font-family: FZQKBYSJT;
    src: url(/src/font/fzqkb.ttf)
}

body {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: FZQKBYSJT;
}

/* 使title中的p标签的默认margin去除 */
p{
    margin: 0;
}

.swiper-slide {
    padding: 24px;
    width: 288px;
    /* 如果100%，slide的下部分的弧角将无法显示 */
    height: 80%;
    background-color: rgb(249, 233, 211);
    border-radius: 15px;
    color: #000;
    /* 如果溢出框，则应该提供滚动 */
    overflow-y: auto;
}

.icon {
    width: 45%;
    margin-top: -5%;
    margin-bottom: 5%;
}

.bold{
    font-weight: bold;
}

.swiper-slide h2 {
    /* 避免其下面的线条过长 */
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 3px rgb(200, 160, 106) solid;
}

.swiper-slide .original::after {
    content: "原 创";
    font-size: 18px;
    /* 经过多次尝试，就是这种实现居中的方式最好了，不得不服啊 */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 140%);
    color: rgb(200, 160, 106);
    background-color: rgb(249, 233, 211);
}

.title {
    /* 因为限制了使用较高版本的浏览器，所以可以使用flex盒模型快速实现水平垂直居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlecontainer{
    border-right: 3px rgb(200, 160, 106) solid;
    padding: 30px;
}

.titlebold {
    font-size: 42px;
    margin-bottom: 18px;
}

.titlecommon  {
    font-size: 32px;
}

.swiper-pagination-bullet {
    background-color: rgb(200, 160, 106);
}
