/* feedback.css */

/* 全局定义 */

html {
    /* jQuery */
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background: black;
}

/* 主要内容 */

#main {
    margin: 6rem 0;
    padding: 0 1rem;
    text-align: center;
}

/* 浏览器信息 */

#browserjs caption {
    text-align: left;
    width: 100%;
    color: white;
}

#browserjs table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 1.25rem;
    table-layout: fixed;
}

#browserjs th, #browserjs td {
    padding: 8px 0;
    border: 1px solid white;
    text-align: center;
    color: white;
}

/* 标题重写 */

.title-container {
    margin: 1rem 0;
}