/* 引用方正清刻本悦宋简体字体 */
@font-face{
    font-family: FZQKBYSJT;
    src: url(/src/font/fzqkb.ttf)
}

body {
    background-color: #000;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: FZQKBYSJT;
    /* 抗锯齿，仅针对Mac OS */
    -webkit-font-smoothing: antialiased;
}

.header {
    width: 100%;
    /* 保持在网页顶端 */
    position: fixed;
    top: 0;
    z-index: 4;
    padding: 10px;
    height: 40px;
    text-align: left;
    background-color: #2e2e2e;
    /* 使用盒模型快速实现icon和title一左一中 */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon {
    height: 100%;
}

.title {
    /* 使标题不折行 */
    white-space: nowrap;
    /* 用省略号代替溢出的文本 */
    text-overflow: ellipsis;
    color: rgb(200, 160, 106);
    font-size: 20px;
}

#main{
    margin-top: 60px;
    height: 100%;
    width: 100%;
}

#bgimg{
    width: 100%;
    object-fit: cover;
}

#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    white-space: nowrap;

    padding: 10px;
    max-width: 90%;

    color: white;
    
    /* 调剂timer的字体大小 */
    font-size: 24px;
}

#timer::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: '';
    background-color: #fff;
    filter: blur(5px);
    opacity: 0.5;

    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#timer-title{
    margin: 0;
    font-size: 2em;
    text-shadow: 4px 4px 10px #fff;
}

#timer-countdown {
    background: url(../img/texture.jpg) no-repeat;
    background-position: 50%;
    background-origin: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
}

.small {
    font-size: .5em;
    padding: .5em;
    -webkit-text-fill-color: #fff;
}

.tips-container {
    background: url(../img/texture.jpg) no-repeat;
    background-position: 50%;
    background-origin: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    margin: 5% 0;
}

.tips{
    font-size: 2.5em;
    margin: 0
}

.small-tips{
    font-size: 1em;
    margin: 0;
    margin-top: 1em;
    cursor: pointer;
}

#video-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:-bottom 
}

.contents {
    /* margin-top: 100px; */
    width: 100%;
    background-color: transparent;
    /* 去除iframe的border */
    border: none;
    height: 400px;
}

#footer {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    background-color: #2e2e2e;
    color: rgb(194, 194, 194);
    padding: 15px 0;
}

#footerlinks{
    /* 解决inlink导致的幽灵空白节点 */
    font-size: 0;
}

.footerlink{
    display: inline;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    margin: 0 25px;
    font-size: 15px;
}

#footerpb, #footerlogos {
    margin: 10px 0;
    font-size: 15px;
}

.footerlogo {
    display: inline-block;
}

#suitlogo {
    padding-right: 10px;
    height: 50px;
    border-right: 2px #fff solid;
}

#passlogo {
    padding-left: 10px;
    height: 40px;
    margin-bottom: 5px;
}

.footertext {
    margin: 5px 0;
    display: block;
    font-size: 15px;
}
