/* introduction.css */

/* 引用方正清刻本悦宋简体字体 */

@font-face {
    font-family: FZQKBYSJT;
    src: url(/src/font/fzqkb.ttf)
}

html {
    /* jQuery */
    font-size: 16px;
    font-family: FZQKBYSJT;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: black;
}

#header {
    padding: 10px;
    z-index: 10;
    /* 使用盒模型快速实现icon和title一左一中 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background: #2e2e2e;
}

#header-icon {
    height: 100%;
}

#header-title {
    color: #b2c67a;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main {
    margin-top: 60px;
    width: 100%;
}

#bgimg {
    /* jQuery */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#timer {
    padding: 1rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    white-space: nowrap;
}

#timer::after {
    border-radius: 0.75rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    filter: blur(5px);
    background: white;
    content: '';
}

#timer-title {
    margin: 0;
    font-size: 3rem;
    text-shadow: 0.25rem 0.25rem 10px #333;
}

#timer-countdown {
    margin-top: 1rem;
    /* 这里是让字透明，以透出背景图片 */
    color: transparent;
    background: url(../img/texture.jpg) no-repeat;
    background-position: 50%;
    background-origin: border-box;
    /* 两行要同时书写，让背景图片仅渲染在文字处 */
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 3rem;
}

.timer-small {
    padding: 0.5rem;
    color: black;
    font-size: 1.5rem;
}

#footer {
    padding: 15px 0;
    text-align: center;
    width: 100%;
    color: #c2c2c2;
    background: #2e2e2e;
}

#footerlinks {
    /* 解决inline导致的幽灵空白节点 */
    font-size: 0;
}

.footerlink {
    margin: 0 25px;
    display: inline;
    color: inherit;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

#footerpb, #footerlogos {
    margin: 10px 0;
    font-size: 15px;
}

.footerlogo {
    display: inline-block;
}

#suitlogo {
    padding-right: 10px;
    border-right: 2px white solid;
    height: 50px;
}

#passlogo {
    margin-bottom: 5px;
    padding-left: 10px;
    height: 40px;
}

.footertext {
    margin: 5px 0;
    display: block;
    font-size: 15px;
}