/* introduction.css */

/* 引用方正清刻本悦宋简体字体 */
@font-face{
    font-family: FZQKBYSJT;
    src: url(/src/font/fzqkb.ttf)
}

html{
    /* jQuery */
    font-size: 16px;
    font-family: FZQKBYSJT;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: black;
}

#header {
    padding: 0.5rem;
    z-index: 10;
    /* 使用盒模型快速实现icon和title一左一中 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 2.5rem;
    position: fixed;
    top: 0;
    background: #2e2e2e;
}

#header-icon {
    height: 100%;
}

#header-title {
    color: #c8a06a;
    font-size: 1.25rem;
    /* 使标题不折行 */
    white-space: nowrap;
    /* 用省略号代替溢出的文本 */
    text-overflow: ellipsis;
}

#main{
    margin-top: 60px;
    height: 100%;
    width: 100%;
}

#bgimg{
    width: 100%;
    object-fit: cover;
}

#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    white-space: nowrap;

    padding: 10px;
    max-width: 90%;

    color: #000;
    
    /* 调剂timer的字体大小 */
    font-size: 24px;
}

#timer::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -5;
    content: '';
    background-color: #fff;
    filter: blur(5px);
    opacity: 0.5;

    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#timer-title{
    margin: 0;
    font-size: 2em;
    text-shadow: 4px 4px 10px #333;
}

#timer-countdown {
    background: url(../img/texture.jpg) no-repeat;
    background-position: 50%;
    background-origin: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
}

.small {
    font-size: .5em;
    padding: .5em;
    -webkit-text-fill-color: black;
}

#footer {
    width: 100%;
    text-align: center;
    background-color: #2e2e2e;
    color: rgb(194, 194, 194);
    padding: 15px 0;
}

#footerlinks{
    /* 解决inlink导致的幽灵空白节点 */
    font-size: 0;
}

.footerlink{
    display: inline;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    margin: 0 25px;
    font-size: 15px;
}

#footerpb, #footerlogos {
    margin: 10px 0;
    font-size: 15px;
}

.footerlogo {
    display: inline-block;
}

#suitlogo {
    padding-right: 10px;
    height: 50px;
    border-right: 2px #fff solid;
}

#passlogo {
    padding-left: 10px;
    height: 40px;
    margin-bottom: 5px;
}

.footertext {
    margin: 5px 0;
    display: block;
    font-size: 15px;
}
