/* 引用方正清刻本悦宋简体字体 */
@font-face{
    font-family: FZQKBYSJT;
    src: url(/src/font/fzqkb.ttf)
}

body {
    background: url("/src/img/live-background.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* 使用flex盒模型 */
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    font-family: FZQKBYSJT;
    
    /* 调剂字体大小 */
    font-size: 24px;

    margin: 0;
}

#title{
    margin: 0;
    margin-top: 1.5rem;
    font-size: 2.25rem;
    color: rgb(133, 83, 23);
}

#video-container{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 3rem;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(53, 53, 53, 0.3);
    background-color: rgba(255,255,255);
    margin-top: 0.5rem;
}

#play, #fullscreen {
    height: 2.5rem;
    width: 2.5rem;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
}

#play:hover, #fullscreen:hover {
    cursor: pointer;
    opacity: 0.6;
}

#play {
    margin-left: 0.5rem;
}

#fullscreen {
    margin-right: 0.5rem;
}
