/* backend.css */

/* 定义动画 */

/* 呼吸 */

@keyframes breathe {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Button的背景颜色变化 */

@keyframes colorchange {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: rgba(0, 160, 233, 0.4);
    }
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    background-color: #1b1b1b;
}

#header {
    padding: 20px;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #2e2e2e;
    font-size: 24px;
}

#title {
    margin: 0;
    color: #00a0e9;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main {
    margin-top: 64px;
    width: 100%;
}

#timer {
    padding: 16px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
}

#timer-title {
    margin: 0;
    font-size: 48px;
}

#timer-countdown {
    margin-top: 16px;
    color: #b2c67a;
    font-size: 3rem;
}

.timer-small {
    padding: 8px;
    color: white;
    font-size: 24px;
}

#LiveControl {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#LiveStatusReminder {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    animation: breathe 1500ms infinite alternate;
}

#ONAIRDOT {
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: red;
}

#ONAIR {
    margin-left: 20px;
    display: inline-block;
    font-size: 40px;
}

#LiveControlButton {
    margin-top: 24px;
    padding: 10px 20px;
    border: 2px #00a0e9 solid;
    color: white;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

#LiveControlButton:hover {
    background-color: rgba(0, 160, 233, 0.4);
    animation: colorchange 500ms;
}