body {
    margin: 0;
    padding: 0;
    background: url(/src/img/background/about.jpg) center center;
}

.mdl-layout__content {
    width: 100%;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: whitesmoke;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
    font-weight: bolder;
}

.mdl-layout_drawer-button {
    margin-top:8px;
    margin-buttom:8px;
}

.mdl-layout__header-row #header-title {
    color: whitesmoke;
}

.material-icons {
    color: whitesmoke;
    margin-top:10px;
}

.mdl-layout__header {
    color:black;
    background-color:whitesmoke;
}

.mdl-navigation {
    color: #757575;
}

/*#input_f {*/
    /*text-align: center;*/
    /*height: auto;*/
    /*margin: 0 auto;*/
    /*margin-top: 5vh;*/
    /*width: 30vw;*/
    /*border: 2px solid darkslategray;*/
    /*border-radius: 30px;*/
    /*background-color: rgb(170, 169, 169);*/
	/*margin-bottom: 5vh;*/
/*}*/
/*input {*/
    /*outline-style: none;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 3px;*/
    /*border: 0px;*/
    /*width: 20vw;*/
    /*height: 3vw;*/
    /*margin-top: 5px;*/
/*}*/

#Header-text{
	font-size:8vw;
	text-align:center;
	display:block;
	margin-top:19vh;
	margin-bottom:0vh;
}
/*#um {*/
    /*margin-top: 10px;*/
/*}*/
/*#tips{*/
	/*margin-top:0.5vh;*/
	/*color:#CD5C5C;*/
	/*font-size: 1vh;*/
	/*text-align: center;*/
	/*display:block;*/
/*}*/
/*input:focus {*/
    /*border-color: #66afe9;*/
    /*outline: 0;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)*/
/*}*/
#login-container {
    background-color:whitesmoke;
    /*min-width:400px;*/
    /*max-width:820px;*/
    width:420px;
    height:500px;
    margin-top:10rem;
    margin-left:auto; 
    margin-right:auto;
    border-radius:5px;
    /*padding-left:5rem;*/
    padding-top:4rem;
}

#login-title {
    font-size: 2.4rem;
    color:black;
    line-height:5rem;
    text-align:left;
    margin-bottom:2rem;
    padding-left:5rem;
}

#account-textfield {
    padding-left:5rem;
}

#password-textfield {
    padding-left:5rem;
}

#buttons-container {
    margin-top:5rem;
    margin-left:auto;
    margin-right:auto;
}

#login-button-container {
    margin-left:25%;
    float:left;
}

#register-button-container {
    margin-right:25%;
    float:right;
}

#footer{
	/*position:absolute;*/
    width:100%;
    margin-top:10rem;
	margin-bottom:0px;
}
/*#bu {*/
    /*margin-top: 2vh;*/
    /*width: 15vw;*/
	/*margin-bottom: 2.5vh;*/
/*}*/
/*[>以下来自https://blog.csdn.net/genius_yym/article/details/79670326 的博客，如有侵权，请联系删除<]*/
/*button {*/
    /*display: inline-block;*/
    /*outline: none;*/
    /*cursor: pointer;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*font: 14px/100% Arial, Helvetica, sans-serif;*/
    /*padding: 5px 2px 4px;*/
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, .3);*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);*/
    /*-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, .2);*/
    /*color: #d9eef7;*/
    /*border: solid 1px #0076a3;*/
    /*background: #0095cd;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));*/
    /*background: -moz-linear-gradient(top, #00adee, #00678e);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#00678e');*/
/*}*/
/*body{*/
	/*height:100%;*/
	/*width:100%;*/
	/*background-color:	#DCDCDC;*/
/*}*/
/*button:hover {*/
    /*background: #007ead;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#00678e), to(#0095cc));*/
    /*background: -moz-linear-gradient(top, #00678e, #0095cc);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00678e', endColorstr='#0095cc');*/
/*}*/

/*[>结束<]*/
